// @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
// @import "bootstrap-sass-official/assets/stylesheets/bootstrap";
// @import "angular-loading-bar/src/loading-bar.css";
// @import "chosen/chosen";
// @import "angular-chosen-localytics/chosen-spinner";

.chosen-container-single .chosen-single {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
  padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
  margin-top: 2px;
}
